.area-cover {
  .heading {
    // background: coral;
    padding: 1rem;
    position: relative;
    margin-bottom: 50px;

    &::after {
      content: "";
      position: absolute;
      left: 30%;
      bottom: 0;
      border-bottom: 5px solid #000;
      width: 40%;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .flex-item {
    flex: 1;
    min-width: 150px;
  }

  .tabs .tab a {
    color: #00796b;
    font-size: 20px;
    margin-top: -10px;
    text-transform: capitalize;
  }
  .tabs .indicator {
    height: 3px;
    background-color: #00796b;
  }
}
