.pricing {
    z-index: 0;
    // padding: 2vh 1vh;
  .price-content-wrapper {
    padding: 5vh 2vh;
    //   background: chocolate;
    display: grid;
    justify-content: space-around;
    //   align-content: center;
    align-items: center;

    .heading {
     

      &::after {
        left: 30%;
        bottom: 0;
        width: 40%;
      }
      
    }
    .content {
      ul {
        li {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-top: 10px;

          span {
            font-size: 2rem;
            font-weight: 600;
          }
          i {
            color: #00796B;
          }
          .rate {
            color: #00796B;
          }
        }
      }
      p{
        margin-top: 5%;
      }
    }
  }

}
