.services {
  .new-item {
    box-sizing: border-box;
    // display: grid;
    // justify-content: stretch;
    // align-content: stretch;
    // justify-items: stretch;
    // align-items: stretch;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr 1fr;
    // grid-template-areas: 
    // "image"
    // "para";

    p {
      padding: 30px 10px;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
 
}
