@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "header";
@import "hero";
@import "services";
@import "about";
@import "price";
@import "areas";
@import "contact";
@import "footer";
@import "media";
@import "animations";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  // background: aliceblue;
}

.owl-carousel {
  z-index: 0;
}
// .container{
//     width: 80%;
//     margin: 2rem auto;

//     p{
//         margin: 1rem 0;
//     }
// }
